{% extends 'pharmacyapp/index.html'%}

    {% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12" style="border:solid 1px; border-radius:10px 10px; height:200px;">
            <div class="row m-2 p-2">
                <div class="col-12">
                    <a class="navbar-item" href="{% url 'pharmacyapp:patient_dashboard' %}">
                        <i class="fas fa-dashboard fa-sm fa-fw mr-2 text-gray-800"></i>
                        Dashboard
                    </a>
                </div>
            </div>
            <div class="row m-2 p-2">
                <div class="col-12">
                    <a class="navbar-item" href="{% url 'pharmacyapp:place_order' %}">
                        <i class="fas fa-file fa-sm fa-fw mr-2 text-gray-400"></i>
                        Submit New Order
                    </a>
                </div>
            </div>

            <div class="row m-2 p-2">
                <div class="col-12">
                    <a class="navbar-item" href="{% url 'pharmacyapp:my_orders' %}">
                        <i class="fas fa-shopping-cart fa-sm fa-fw mr-2 text-gray-400"></i>
                        My Orders
                    </a>
                </div>
            </div>

            <div class="row m-2 p-2">
                <div class="col-12">
                    <a class="navbar-item" href="#">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        MyProfile
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="row">
                <div class="col-12">
                    {% if user.is_authenticated %}
                    <h2>Welcome {{user.name}} to your Dashboard</h2>
                    {% else %}
                    <h2>Welcome to your Dashboard</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}